:root {
    --tile-size: 30px;
}

.sudoku__tile-container {
    display:grid;
    grid-template-columns: repeat(
        3, 
        var(--tile-size) var(--tile-size) calc(var(--tile-size) + 5px)
    );
    grid-template-rows: repeat(
        3, 
        var(--tile-size) var(--tile-size) calc(var(--tile-size) + 5px)
    );
    justify-content: center;
}

.sudoku__tile {
    width: var(--tile-size);
    height: var(--tile-size);
}
