:root {
    --tile-size: 45px;
}

.sudoku__tile-container {
    display:grid;
    grid-template-columns: repeat(
        3, 
        var(--tile-size) var(--tile-size) calc(var(--tile-size) + 5px)
    );
    grid-template-rows: repeat(
        3, 
        var(--tile-size) var(--tile-size) calc(var(--tile-size) + 5px)
    );
    justify-content: center;
}


.sudoku__number-button-container {
    display:grid;
    grid-template-columns: repeat(5, calc(var(--tile-size) + 5px));
    grid-template-rows: calc(var(--tile-size) + 5);
    justify-content: center;
}

.sudoku__number-button {
    height: var(--tile-size);
    width: var(--tile-size);
    margin: 5px;
}
